@import '../../styles/Colors.scss';

.table {
  width: 100%;
  display: flex;
  flex-direction: column;

  .table-row {
    margin: 0.5rem 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }

    .label {
      margin: 0;
      font-family: 'Montserrat';
      font-weight: bolder;
      color: $colorFocusText;
      cursor: default;
    }

    .value {
      margin: 0;
      font-family: 'Montserrat';
      font-size: 0.95rem;
      color: $colorRegularText;
      cursor: default;
    }
  }
}
