@import '../../styles/Colors.scss';

.sell-outer-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('../../images/plainBackground.jpg');

  .sell-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem 4rem;
    overflow: hidden;

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .sell-info-container {
      flex: 1.5;
      padding: 1rem 2rem;
      margin-right: 4rem;
      box-shadow: 2px 2px 6px #888888;
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;

      .sell-heading {
        margin: 0 0 2rem 0;
        font-family: 'Montserrat';
        color: $colorFocusText;
        cursor: default;
      }

      .selling-form {
        width: 80%;
        display: flex;
        flex-direction: column;

        .form-row {
          margin: 0.5rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.05);
            cursor: default;
          }

          select {
            width: 11rem;
            height: 2rem;
            font-family: 'Montserrat';
            font-size: 0.9rem;
            color: $colorRegularText;
            border-radius: 0.3rem;
            border: none;
            outline: none;
            background: $colorSecondary;

            &:focus {
              border: solid 1.5px $colorPrimary;
            }
          }

          input {
            width: 11rem;
            font-family: 'Montserrat';
            height: 2rem;
            border-radius: 0.3rem;
            border: none;
            outline: none;
            margin-left: 20px;
            font-size: 0.9rem;
            background: $colorSecondary;

            &:focus {
              border: solid 1.5px $colorPrimary;
            }
          }

          .form-label {
            margin: 0;
            font-family: 'Montserrat';
            font-weight: bolder;
            color: $colorFocusText;
            cursor: default;
          }
        }

        .sell-button {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }

    .sell-tokens-container {
      flex: 2.5;
      height: 80%;
      padding: 1rem 2rem;
      box-shadow: 2px 2px 6px #888888;
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;

      .sell-tokens-heading {
        margin: 0 0 2rem 0;
        font-family: 'Montserrat';
        color: $colorFocusText;
        cursor: default;
      }

      .sell-token-cards-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
