@import '../../styles/Colors.scss';

.buy-outer-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('../../images/plainBackground.jpg');

  .buy-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem 4rem;
    overflow: hidden;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .buy-info-container {
      flex: 1.5;
      padding: 1rem 2rem;
      margin-right: 4rem;
      box-shadow: 2px 2px 6px #888888;
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;

      .buy-heading {
        margin: 0 0 2rem 0;
        font-family: 'Montserrat';
        color: $colorFocusText;
        cursor: default;
      }

      .buy-paragraph {
        margin: 0;
        font-family: 'Montserrat';
        color: $colorRegularText;
        font-size: 1.5rem;
        text-align: center;
        cursor: default;
      }

      .buy-button {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .buy-tokens-container {
      flex: 2.5;
      height: 80%;
      padding: 1rem 2rem;
      box-shadow: 2px 2px 6px #888888;
      border-radius: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white;

      .buy-tokens-heading {
        margin: 0 0 2rem 0;
        font-family: 'Montserrat';
        color: $colorFocusText;
        cursor: default;
      }

      .buy-token-cards-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
